@dimension: 40px;
.result-list-item {
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: flex;

	-webkit-box-align: center;
	-moz-box-align: center;
	-webkt-align-items: center;
	align-items: center;

	height: 40px;

	& + .result-list-item {
		border-top: 1px solid @borderGrey;
	}
}

.interaction {
	&.checkbox {
		width: @dimension;
		line-height: @dimension;
		text-align: center;
	}
}

.result-list-item-content-wrapper {

	font-size: 0.8em;
	font-weight: 600;
	line-height: 1.15;

	flex-grow: 1;
	align-items: center;
}

