
<div class="category-list-wrapper" ng-controller="CatListCtrl">
	<div class="zone-heading">
		<button class="btn nostyle" ng-click="navigateUp()" ng-disabled="categoryRoot.id===0"><i class="fa fa-fw fa-level-up"></i></button><h3 class="zone-heading-title">category list <small>{{ categoryRoot.name }}</small></h3>
	</div>
	<div class="category-list-new-cat-helper">
		<span>new category</span>
		<button class="btn nostyle" ng-click="openNewRootCatForm()"><i class="fa fa-plus"></i></button>
	</div>
	<div class="well category-list">

		<div class="category-wrapper new-category-form-wrapper" ng-if="!!categoryRoot.formOpen">
			<form class="new-category-form" ng-submit="makeCategory(categoryRoot.id, newCategoryName)">
				<input type="text" class="new-category-input-name" placeholder="name of new category" required ng-model="newCategoryName">
				<button class="btn nostyle"><i class="fa fa-fw fa-check"></i></button>
			</form>
		</div>
		<div class="category-wrapper" ng-repeat="category in categoryRoot.children" ng-class="{'open': expandedCategory==category}" ng-click="navigateDown(category)">
			<div class="result-list-item category">
				<div class="result-list-context-menu" ng-class="{open: activeCatMenu === category}">
					<button type="button" class="btn menu red" ng-click="$event.stopPropagation()"><i class="fa fa-fw fa-trash-o"></i></button>
					<button type="button" class="btn menu green" ng-click="navigateDown(category);openNewCatForm(category);$event.stopPropagation()"><i class="fa fa-fw fa-plus-circle"></i></button>
					<button type="button" class="btn menu amber" ng-click="$event.stopPropagation()"><i class="fa fa-fw fa-gear"></i></button>
				</div>
				<button type="button" class="btn nostyle small muted interaction" ng-click="toggleCatMenu(category);$event.stopPropagation()">
					<i class="fa fa-fw fa-bars"></i>
				</button>


				<div class="result-list-item-content-wrapper">
					<div class="category-name">{{category.name}}</div>
				</div>
				<button type="button" class="btn nostyle interaction" ng-if="category.children.length>0" ng-click="expandCategory(category); $event.stopPropagation()">
					<i class="fa fa-fw fa-caret-left" ng-class="{'fa-rotate-270': expandedCategory === category}"></i>
				</button>
			</div>


			<div class="category-children-wrapper">
				<div class="category new-category-form-wrapper" ng-if="category.formOpen" ng-click="$event.stopPropagation()">
					<form class="new-category-form">
						<input type="text" class="new-category-input-name" placeholder="name of new category">
						<button class="btn nostyle"><i class="fa fa-fw fa-check"></i></button>
					</form>
				</div>

				<div class="result-list-item category child" ng-repeat="category in category.children">
					<div class="result-list-context-menu" ng-class="{open: activeCatMenu === category}">
						<button type="button" class="btn menu red" ng-click="$event.stopPropagation()"><i class="fa fa-fw fa-trash-o"></i></button>
						<button type="button" class="btn menu green" ng-click="navigateDown(category);openNewCatForm(category);$event.stopPropagation()"><i class="fa fa-fw fa-plus-circle"></i></button>
						<button type="button" class="btn menu amber" ng-click="$event.stopPropagation()"><i class="fa fa-fw fa-gear"></i></button>
					</div>
					<button type="button" class="btn nostyle small muted interaction" ng-click="toggleCatMenu(category);$event.stopPropagation()">
						<i class="fa fa-fw fa-bars"></i>
					</button>


					<div class="result-list-item-content-wrapper">
						<div class="category-name">{{category.name}}</div>
					</div>
					<button type="button" class="btn nostyle interaction" ng-if="category.children.length>0" ng-click="navigateDown(category); $event.stopPropagation()">
						<i class="fa fa-fw fa-caret-left" ng-class="{'fa-rotate-270': expandedCategory === category}"></i>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>