<div ng-include="'partials/navbar'"></div>


<div class="wrapper">
	<div class="row zone">
		<div class="col-4" ng-include="'views/partials/category-list.html'"></div>

		<div class="col-8" ng-controller="ProductSearchCtrl">

			<form class="form-group-inline product-search-bar" ng-submit="search()">
				<input class="input input-primary input-fill" type="text" placeholder="search for products by keyword" ng-model="term">
				<button type="button" class="btn"><i class="fa fa-fw fa-search"></i></button>
				<button type="button" class="btn" ng-click="createCatFromSearch()"><i class="fa fa-fw fa-plus"></i></button>
				<button type="button" class="btn">
					<span ng-if="categoryRoot.name==='root'">root</span><span ng-if="categoryRoot.name!=='root'">{{ categoryRoot.name }}</span>
				</button>
			</form>
			<label><input type="checkbox">select all</label>
			<div class="well result-list">

				<span class="zero-helper-text" ng-if="!products.length">search for products to add to a category or to edit&nbsp;their&nbsp;information</span>
				<div class="result-list-item">
					<div class="result-list-item-content-wrapper"><span>{{ selectedProducts }}</span></div>
				</div>
				<div class="result-list-item" ng-repeat="product in products">

					<div class="interaction checkbox">
						<input type="checkbox" ng-model="product.selected">
					</div>
					<div class="result-list-item-content-wrapper"><span>{{ product.name }}</span></div>
					<button type="button" class="btn nostyle interaction"><i class="fa fa-fw fa-gear"></i></button>
					<button type="button" class="btn nostyle interaction"><i class="fa fa-fw fa-plus"></i></button>
				</div>
			</div>
		</div>
	</div>
</div>