.btn {
	@dimension: 40px;

	height: @dimension;
	min-width: @dimension;
	padding: 0 0.5em;

	background: @offWhite;
	border: 1px solid @borderGrey;

	outline: none;

	//line-height: @dimension;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;

	&.nostyle {
		border: none;
		background: transparent;
		color: inherit;
	}

	&.menu {
		border: none;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
	}

	&.red {
		background: #cc4455;
		color: @white;
	}

	&.green {
		background: #66ba47;
		color: @white;
	}

	&.amber {
		background: #FCC14F;
		color: @white;
		text-shadow: 0 -1px #c9b04f;
	}


	&:disabled {
		color: @muted;
		cursor: not-allowed;
	}

	&.small {
		font-size: 0.7em;
	}

	&.muted {
		color: @muted;
	}
}